$primary: #6571ff;
$secondary: #7987a1;
$white: #fff;

.full-page {
	height: 100vh;
}

@function pc_to_deg($pc) {
	@return calc(($pc/100) * 360deg);
}
.chart_wrapper {
	display: grid;
	place-items: center;
	position: relative;
	.chart {
		$chart-width: 100%;
		&.pie_chart {
			min-width: $chart-width;
			aspect-ratio: 1;
			border-radius: 50%;
			position: relative;
			background-image: conic-gradient(
				$primary pc_to_deg(var(--time-elapsed-pc)),
				#e7e7e7 pc_to_deg(var(--time-elapsed-pc)),
				#e7e7e7 pc_to_deg(calc(100 - var(--time-elapsed-pc)))
			);
			&::after {
				content: "";
				position: absolute;
				$border: 0.5rem;
				width: calc(100% - (2 * $border));
				height: calc(100% - (2 * $border));
				top: 50%;
				left: 50%;
				transform: translate(calc(-50% - $border), calc(-50% - $border));
				margin: $border;
				border-radius: 50%;
				background-color: $white;
			}
			&.clock_in {
				&_expected {
					$margin: 2rem;
					position: absolute;
					$margin: 0.5rem;
					margin: $margin;
					min-width: calc($chart-width - (4 * $margin));
					background-image: conic-gradient(
						$primary pc_to_deg(var(--time-expected-pc)),
						#e7e7e7 pc_to_deg(var(--time-expected-pc)),
						#e7e7e7 pc_to_deg(calc(100 - var(--time-expected-pc)))
					);
				}
			}
		}
	}
	.clock_in_time{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-weight: 900;
		font-size: 2rem;
	}
}

/* DataTable */
.dt-paging{
	float: right;
	padding: 0.5rem 0;
}
.dt-info, .dt-length{
	float: left;
	padding: 0.5rem 0;
}

/* Select2 */
.select2{
	display: block;
}

.introjs-tooltip {
	&.introjs-floating {
	}
}
.introjs-helperLayer {
	border: 2px dashed $primary;
	box-shadow: rgb(58 58 58 / 50%) 0px 0px 0px 5000px !important;
}
.introjs-button {
	&.introjs-prevbutton {
		text-shadow: none;
		color: $white;
		background-color: $secondary;
		border: none;
		&:hover,
		&:active,
		&:focus {
			color: $white;
			background-color: darken($primary, $amount: 5);
		}
	}
	&.introjs-nextbutton {
		text-shadow: none;
		color: $white;
		background-color: $primary;
		border: none;
		&:hover,
		&:active,
		&:focus {
			border: none;
			color: $white;
			background-color: darken($primary, $amount: 5);
		}
		&:focus {
			box-shadow: 0 0 0 0.25rem rgba($primary, $alpha: 0.2);
		}
	}
}
.introjs-disabled {
}
