.full-page {
  height: 100vh;
}

.chart_wrapper {
  display: grid;
  place-items: center;
  position: relative;
}
.chart_wrapper .chart.pie_chart {
  min-width: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
  position: relative;
  background-image: conic-gradient(#6571ff calc(var(--time-elapsed-pc) / 100 * 360deg), #e7e7e7 calc(var(--time-elapsed-pc) / 100 * 360deg), #e7e7e7 calc((100 - var(--time-elapsed-pc)) / 100 * 360deg));
}
.chart_wrapper .chart.pie_chart::after {
  content: "";
  position: absolute;
  width: calc(100% - 1rem);
  height: calc(100% - 1rem);
  top: 50%;
  left: 50%;
  -webkit-transform: translate(calc(-50% - 0.5rem), calc(-50% - 0.5rem));
      -ms-transform: translate(calc(-50% - 0.5rem), calc(-50% - 0.5rem));
          transform: translate(calc(-50% - 0.5rem), calc(-50% - 0.5rem));
  margin: 0.5rem;
  border-radius: 50%;
  background-color: #fff;
}
.chart_wrapper .chart.pie_chart.clock_in_expected {
  position: absolute;
  margin: 0.5rem;
  min-width: calc(100% - 2rem);
  background-image: conic-gradient(#6571ff calc(var(--time-expected-pc) / 100 * 360deg), #e7e7e7 calc(var(--time-expected-pc) / 100 * 360deg), #e7e7e7 calc((100 - var(--time-expected-pc)) / 100 * 360deg));
}
.chart_wrapper .clock_in_time {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-weight: 900;
  font-size: 2rem;
}

.introjs-helperLayer {
  border: 2px dashed #6571ff;
  -webkit-box-shadow: rgba(58, 58, 58, 0.5) 0px 0px 0px 5000px !important;
          box-shadow: rgba(58, 58, 58, 0.5) 0px 0px 0px 5000px !important;
}

.introjs-button.introjs-prevbutton {
  text-shadow: none;
  color: #fff;
  background-color: #7987a1;
  border: none;
}
.introjs-button.introjs-prevbutton:hover, .introjs-button.introjs-prevbutton:active, .introjs-button.introjs-prevbutton:focus {
  color: #fff;
  background-color: #4c59ff;
}
.introjs-button.introjs-nextbutton {
  text-shadow: none;
  color: #fff;
  background-color: #6571ff;
  border: none;
}
.introjs-button.introjs-nextbutton:hover, .introjs-button.introjs-nextbutton:active, .introjs-button.introjs-nextbutton:focus {
  border: none;
  color: #fff;
  background-color: #4c59ff;
}
.introjs-button.introjs-nextbutton:focus {
  -webkit-box-shadow: 0 0 0 0.25rem rgba(101, 113, 255, 0.2);
          box-shadow: 0 0 0 0.25rem rgba(101, 113, 255, 0.2);
}