$color-black: #131313;
$color-white: #ececec;
$color-grey: #747474;
$color-red: #c01f1f;
$color-green: #1fc042;
$color-yellow: #e5e745;
$color-blue: #4263be;
$color-fl-green: #6cd89d;

$theme: (
	"primary": $color-blue,
	"secondary": $color-fl-green,
	"danger": $color-red,
	"warning": $color-yellow,
	"grey": $color-grey,
	"red": $color-red,
	"green": $color-green,
	"yellow": $color-yellow,
	"blue": $color-blue,
);
* {
	font-family: "Nunito", Arial, Helvetica, sans-serif;
	line-height: 1.5;
}
a {
	text-decoration: none;
	color: inherit;
}
a,
button {
	&:has(i.icon) {
		.icon {
			&.icon-right {
				margin-left: 0.25rem;
			}
			&.icon-left {
				margin-right: 0.25rem;
			}
		}
	}
}
.form-control {
	padding: 0.25rem 0.75rem;
	border-radius: 0.2rem;
}
@each $class, $color in $theme {
	.text-#{$class} {
		color: $color !important;
	}
	.bg-#{$class} {
		background-color: $color !important;
	}
	@for $value from 5 to 100 {
		.bg-#{$class}-subtle-#{$value} {
			background-color: rgba($color, $alpha: calc($value/100)) !important;
		}
	}
}
.btn {
	padding: 0.25rem 0.75rem;
	border-radius: 0.2rem;
	&.btn-sm {
		padding: 0.1rem 0.5rem;
		font-size: 1rem;
		line-height: 1.5;
	}
	@each $class, $color in $theme {
		&.btn-outline-#{$class} {
			border-color: $color;
			color: $color-black;
			font-weight: 500;
			&:active,
			&:focus,
			&:hover {
				background-color: darken($color, $amount: 10);
				color: $color-white;
			}
		}
		&.btn-#{$class} {
			background-color: $color;
			border-color: $color;
			@if ($class == "secondary") {
				// color: $color-black;
			}
		}
	}
}
.list-group {
	.list-group-item {
		&:first-child {
			border-top-left-radius: 0;
			border-top-right-radius: 0;
		}
		&:last-child {
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
		}
		border-right: 0;
		border-left: 0;

		b,
		strong {
			font-weight: 500;
		}
	}
}
.dropdown {
	&.dropdown-center {
		.dropdown-menu[data-bs-popper] {
			left: -100%;
		}
	}
	&.dropdown-right {
		.dropdown-menu[data-bs-popper] {
			left: -200%;
		}
	}
}
.dropdown-menu {
	border-radius: 0;
}
.alert {
	border-radius: 0;
}

.count {
	height: 2rem;
	aspect-ratio: 1;
	display: grid;
	place-items: center;
	&.count-donut {
		--dp: 50;
		--dw: 2px;
		border-radius: 50%;
		position: relative;
		z-index: 1;
		&::before {
			z-index: -1;
			content: "";
			position: absolute;
			top: var(--dw);
			left: var(--dw);
			width: calc(100% - calc(2 * var(--dw)));
			height: calc(100% - calc(2 * var(--dw)));
			border-radius: 50%;
			background-color: white;
		}
		@each $class, $color in $theme {
			&.count-donut-#{$class} {
				background-color: rgba($color, $alpha: 0.1);
				background-image: conic-gradient($color 45deg, transparent 45deg);
			}
			&.count-donut-#{$class}-subtle {
				background-color: rgba($color, $alpha: 0.1);
				background-image: conic-gradient(
					rgba($color, $alpha: 0.5) calc((var(--dp) / 100) * 360deg),
					transparent 45deg
				);
			}
		}
	}
}

.card-widget {
	.card-body {
		height: min(30vh, 500px);
		// height: 30vh;
		overflow-y: scroll;
		overflow-x: hidden;
	}
}
.card-widget,
.card-widget .card-body {
	border-radius: 0;
	& > .list-group {
		.list-group-item {
			&:first-child {
				border-top: 0;
			}
			&:last-child {
				border-bottom: 0;
			}
		}
	}
	.card-header {
		background-color: transparent;
		font-weight: 600;
		&:has(.nav-tabs),
		&:has(.nav-pills) {
			.nav-item .nav-link {
				padding: 0 0.5rem;
				border-radius: 0;
				border: 1px solid;
				border-color: $color-grey;
				color: $color-grey;
				&.active {
					border-color: $color-blue;
					color: $color-blue;
					background-color: transparent;
				}
			}
		}
	}
}

.avatar {
	border: 1px solid lighten($color-grey, $amount: 20);
	background-color: lighten($color-grey, $amount: 40);
	color: $color-black;
	font-weight: 600;
	padding: 0.25rem 0.25rem;
	border-radius: 0.3rem;
}
